.header{
  position: absolute;
  width: 100%;
  padding: 6px 0;
  z-index: 990;
  @include mq('tablet-990') {
    padding: 10px 0;
  }
}

.body-header{
  @extend %flex;
  justify-content: space-between;
  @media only screen and (min-width: 1300px){
    padding: 0 40px;
  }
}

.wrapper-logo{
  flex: 0 0 90px;
  z-index: 901;
   img {
    width: 100%;
  }
  @include mq('tablet-990') {
    flex: 0 0 180px;
  }
}

.wrapper-phone{
  align-self: center;
  font-family: 'OpenSansCondensed-Bold', sans-serif;
  a{
    @include adaptiv-font(24,20);
    font-weight: 700;
    color: $color2;
  }
}

.wrapper-phone__mobile{
  padding: 3px;
  padding-left: 30px;
  margin-bottom: 7px;
  background-repeat: no-repeat;
  background-position: left center;

  &:last-child{
    margin-bottom: 0;

  }
}