section.contacts
    .container
        .row
            .col-12
                .contacts__title.title-regular Контакты
    .body-contacts
        .body-contacts__info
            .body-contacts__tile(style="background-image: url('img/address.svg');") Адрес
            .body-contacts__subtile г. Краснодар, ул. Ковалёва 5
            .body-contacts__tile(style="background-image: url('img/phone-black.svg');") телефон
            .body-contacts__subtile.body-contacts__subtile-phone(style="background-image: url('img/whatsapp-black.svg');")
                a(href="https://wa.me/7(918)360-24-52") +7(918) 360-24-52
            .body-contacts__subtile.body-contacts__subtile-phone(style="background-image: url('img/phone-black.svg');")
                a(href="tel:+7(918) 460-24-11") +7(918) 460-24-11
            .body-contacts__tile(style="background-image: url('img/mail.svg');") e-mail
            .body-contacts__subtile infortp@yandex.ru
            .body-contacts__soc
                a(href="#")
                    img(src='img/inst.svg')
                a(href="#")
                    img(src='img/youtybe.svg')
        .body-contacts__map
            #map
