section.cooki
    .body-cooki
        p Мы используем файлы cookie для того, чтобы предоставить Вам больше возможностей <br>при использовании сайта
        .wrapper-btn
            .cooki__btn.button Согласен