section.equipment
    .container
        .row
            .col-12
                .equipment__title.title-regular Комплексное оснащение предприятий торговли
            .col-12.col-md-4.equipment-description
                .equipment-description__title.sub-title-bold18  Технологическое оборудования
                .equipment-description__text
                    ul
                        li Плиты электрические
                        li Плиты газовые
                        li Линии разделки
                        li Овощерезки
                        li Механическое оборудование
            .col-12.col-md-4.equipment-description
                .equipment-description__title.sub-title-bold18  Технологическое оборудования
                .equipment-description__text
                    ul
                        li Плиты электрические
                        li Плиты газовые
                        li Линии разделки
                        li Овощерезки
                        li Механическое оборудование

            .col-12.col-md-4.equipment-description
                .equipment-description__title.sub-title-bold18  Технологическое оборудования
                .equipment-description__text
                    ul
                        li Плиты электрические
                        li Плиты газовые
                        li Линии разделки
                        li Овощерезки
                        li Механическое оборудование
            .col-12.col-md-4.equipment-description
                .equipment-description__title.sub-title-bold18  Технологическое оборудования
                .equipment-description__text
                    ul
                        li Плиты электрические
                        li Плиты газовые
                        li Линии разделки
                        li Овощерезки
                        li Механическое оборудование


