section.footer
    .body-footer
        .footer__logo
            img(src='img/logo-footer.svg')
        .footer__copi
            p © 2020 ООО “Техно эксперт проект””
        .footer__polit
            p
                a(href="#") Политика конфиденциальности
        .footer__labs
            a(href="#")
                img(src='img/lab.svg')
        .footer__pfone
            a(href="tel:+7(918)360-24-52") +7(918) <span>360-24-52</span>
            a(href="tel:+7(918)360-24-52") +7(918) <span>360-24-52</span>
