section.form-footer
    .container
        .row
            form.body-form-footer
                .col-12.col-md-6
                    .form-footer__title.title-regular Остались вопросы?
                    .form-footer__btn.button Отправить заявку
                .col-12.col-md-5
                    p Заполните поля, чтобы мы могли с Вами связаться
                    input.form-footer__input(placeholder='Ваш город')
                    input.form-footer__input(placeholder='Ваше имя')
                    input.form-footer__input(placeholder='+7 (   ) ___ - __ - __')
                    input.form-footer__input(placeholder='@E-mail')
                    p.copirite Отправляя заявку, я соглашаюсь на обработку персональных данных , в соответствии с <a href="#">политикой конфиденциальности</a>
                    .form-footer__btn-mobile.button Отправить заявку
