section.form-sec(style="background-image: url('img/sec10_img1.png');")
    .container
        .row
            .col-12
                .form-sec__title.title-regular У ВАС УЖЕ ЕСТЬ СПЕЦИФИКАЦИЯ ИЛИ ПРОЕКТ?
            .col-12.col-md-8
                .form-sec__subtitle Отправьте его нам, мы подберем оптимальное
                                |оборудование, рассчитаем бюджеты и сроки поставки
            .col-12.col-md-8
                .row
                    .form-sec__form
                        .col-12.col-md-6
                            input.form-sec__input(placeholder='Ваше имя')
                        .col-12.col-md-6
                            input.form-sec__input(placeholder='Ваш телефон')
                        .col-12.col-md-6
                            input.form-sec__input(placeholder='Ваша почта')
                        .col-12.col-md-6
                            .box-input-file
                                input.form-sec__input-file(type='file')
                                .form-sec__input-file-text  Выберите файл
                                .form-sec__input-file-ic
                                    img(src='img/clip.svg')
                        .col-12
                            .form-sec__btn.button Отправить проект
