button(type="button" data-toggle="modal" data-target="#exampleModal").btn.btn-primary Launch demo modal

.modal.fade#exampleModal(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
    .modal-dialog(role="document")
        .modal-content
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                img(src="img/close.svg" aria-hidden="true")
            .modal-body
                .modal-title.title-regular Найдём решение для каждого
                form.form-modal
                    .wrapper-modal-input
                        input.form-modal__input(placeholder="Ваш город")
                    .wrapper-modal-input
                        input.form-modal__input(placeholder="Ваше имя")
                    .wrapper-modal-input
                        input.form-modal__input(placeholder="+7 (   ) ___ - __ - __")
                    .wrapper-modal-input
                        input.form-modal__input(placeholder="@E-mail")
                    p Нажав на кнопку, я даю согласие на <a href="#"> обработку персональных данных </a>
                    .form-modal__btn.button Отпаравить





