include mixins
section.our-specialist
    .container
        .row
            .col-12
                .our-specialist__title.title-regular Наши специалисты

            .col-12.col-md-10.offset-md-1
                .row-specialist-items
                    .our-specialist__bg
                    .wrapper-description
                       .specialist-items-description__title.sub-title-bold18 Сквиря <br> Максим Алексеевич
                       .specialist-items-description__text Инженер - технолог пишевых производств <br>
                                                           |Кандидат технических наук <br>
                                                           |Руководитель торгово-производственного предприятия <br>
                                                           |Эксперт в области комплексной оценки предприятия
                    .wrapper-image
                        .our-specialist__bg-img
                        .wrapper-image__img(style="background-image: url('img/sec4_img1.png');")

            .col-12.col-md-10.offset-md-1
                .row-specialist-items.row-specialist-items-revers
                    .our-specialist__bg
                    .wrapper-image
                        .our-specialist__bg-img
                        .wrapper-image__img(style="background-image: url('img/sec4_img2.png');")
                    .wrapper-description
                        .specialist-items-description__title.sub-title-bold18 Емельяненко <br> Сергей Сергеевич
                        .specialist-items-description__text Инженер - технолог пишевых производств <br>
                                                           |Кандидат технических наук <br>
                                                           |Руководитель торгово-производственного предприятия <br>
                                                           |Эксперт в области комплексной оценки предприятия