section.our-partner
    .container
        .row
            .col-12
                .our-partner__title.title-regular Наши партнёры
        .body-slider-our-partner
            .swiper-container.our-partner-container
                .swiper-wrapper.our-partner-wrapper
                    .swiper-slide.our-partner-slide
                        .container
                            .row
                                .col-4
                                    img(src='img/expobar_crem_international.png')
                                .col-4
                                    img(src='img/expobar_crem_international.png')
                                .col-4
                                    img(src='img/expobar_crem_international.png')
                                .col-4
                                    img(src='img/expobar_crem_international.png')
                                .col-4
                                    img(src='img/expobar_crem_international.png')
                                .col-4
                                    img(src='img/expobar_crem_international.png')
                                .col-4
                                    img(src='img/expobar_crem_international.png')
                                .col-4
                                    img(src='img/expobar_crem_international.png')
                                .col-4
                                    img(src='img/expobar_crem_international.png')
                    .swiper-slide.our-partner-slide
                        .container
                            .row
                                .col-4
                                    img(src='img/expobar_crem_international.png')
                                .col-4
                                    img(src='img/expobar_crem_international.png')
                                .col-4
                                    img(src='img/expobar_crem_international.png')
                                .col-4
                                    img(src='img/expobar_crem_international.png')
                                .col-4
                                    img(src='img/expobar_crem_international.png')
                                .col-4
                                    img(src='img/expobar_crem_international.png')
                                .col-4
                                    img(src='img/expobar_crem_international.png')
                                .col-4
                                    img(src='img/expobar_crem_international.png')
                                .col-4
                                    img(src='img/expobar_crem_international.png')

                    .swiper-slide.our-partner-slide
                        .container
                            .row
                                .col-4
                                    img(src='img/expobar_crem_international.png')
                                .col-4
                                    img(src='img/expobar_crem_international.png')
                                .col-4
                                    img(src='img/expobar_crem_international.png')
                                .col-4
                                    img(src='img/expobar_crem_international.png')
                                .col-4
                                    img(src='img/expobar_crem_international.png')
                                .col-4
                                    img(src='img/expobar_crem_international.png')
                                .col-4
                                    img(src='img/expobar_crem_international.png')
                                .col-4
                                    img(src='img/expobar_crem_international.png')
                                .col-4
                                    img(src='img/expobar_crem_international.png')

            .swiper-pagination.our-partner-pagination