include mixins
section.start-up-services.start-up-services-revers
    .container
        .row
            .col-12
                .start-up-services__title.title-regular Преимущества работ по оснащению и запуску
            .col-12.col-md-6.start-up-services__text
                .start-up-services__description
                    ul
                        li Написание инструкций для сотрудников
                        li Помощь при проверке Роспотребнадзора
                        li Комплексное оснащение предприятий торговли и общепита
                        li Составление меню и технологических карт блюд
                        li Разработка дизайна интерьера
                        li Услуги по оформлению ХАССП
                        li Маркетинговый консалтинг
                        li Технологическое проектирование объектов торговли и общепита
            .col-12.col-md-6.start-up-services__image
                .start-up-services__img(style="background-image: url('img/sec8_img1.png');")