section.reviews
    .container
        .row
            .col-12
                .reviews__title.title-regular Отзывы
    .body-reviews
        .swiper-container.reviews-container
            .swiper-wrapper.reviews-wrapper
                .swiper-slide.reviews-slide
                    .reviews-slide-body
                        .reviews-slide-body__info-man
                            .info-man__img
                                img(src="img/sec9_img1.png")
                                .bg-white
                            .info-man__stars
                                img(src="img/Star-gold.svg")
                                img(src="img/Star-gold.svg")
                                img(src="img/Star-gold.svg")
                                img(src="img/Star-gold.svg")
                                img(src="img/Star-grey.svg")
                            .info-man__position должность
                            .info-man__date 27. 12. 2020
                        .reviews-slide-body__descrioptin-man
                            .descrioptin-man__title.sub-title-bold18 Компания
                            .descrioptin-man__FIO Елена Прекрасная
                            .descrioptin-man__text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    |Ut sem dolor, ultricies fermentum mattis eu, egestas at leo. Ut sed purus eu
                                                    |Ut sem dolor, ultricies fermentum mattis eu, egestas at leo. Ut sed purus eu
                                                    | enim rhoncus pellentesque!!!!! enim rhoncus pellentesque!!!!!
                                                    |Ut sem dolor, ultricies fermentum mattis eu, egestas at leo. Ut sed purus eu
                                                    | enim rhoncus pellentesque!!!!! enim rhoncus pellentesque!!!!!

                .swiper-slide.reviews-slide
                    .reviews-slide-body
                        .reviews-slide-body__info-man
                            .info-man__img
                                img(src="img/sec9_img1.png")
                                .bg-white
                            .info-man__stars
                                img(src="img/Star-gold.svg")
                                img(src="img/Star-gold.svg")
                                img(src="img/Star-gold.svg")
                                img(src="img/Star-gold.svg")
                                img(src="img/Star-grey.svg")
                            .info-man__position должность
                            .info-man__date 27. 12. 2020
                        .reviews-slide-body__descrioptin-man
                            .descrioptin-man__title.sub-title-bold18 Компания
                            .descrioptin-man__FIO Елена Прекрасная
                            .descrioptin-man__text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                | Ut sem dolor, ultricies fermentum mattis eu, egestas at leo. Ut sed purus eu
                                | enim rhoncus pellentesque!!!!!

                .swiper-slide.reviews-slide
                    .reviews-slide-body
                        .reviews-slide-body__info-man
                            .info-man__img
                                img(src="img/sec9_img1.png")
                                .bg-white
                            .info-man__stars
                                img(src="img/Star-gold.svg")
                                img(src="img/Star-gold.svg")
                                img(src="img/Star-gold.svg")
                                img(src="img/Star-gold.svg")
                                img(src="img/Star-grey.svg")
                            .info-man__position должность
                            .info-man__date 27. 12. 2020
                        .reviews-slide-body__descrioptin-man
                            .descrioptin-man__title.sub-title-bold18 Компания
                            .descrioptin-man__FIO Елена Прекрасная
                            .descrioptin-man__text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                | Ut sem dolor, ultricies fermentum mattis eu, egestas at leo. Ut sed purus eu
                                | enim rhoncus pellentesque!!!!!

        .swiper-button-prev.reviews-button-next
            img(src="img/Arrow-slider.svg")