include mixins
section.six-step
    .container
        .row
            .col-12
                .six-step-title.title-regular 6 шагов создания проекта
            .body-six-step
                +six-step('1','Заявка', 'Получение заявки на составление технического задания (определение концепции предприятия)' )
                +six-step('2','Согласование', 'Получение заявки на составление технического задания (определение концепции предприятия)' )
                +six-step('3','Схема', 'Получение заявки на составление технического задания (определение концепции предприятия)' )
                +six-step('4','Утверждение', 'Получение заявки на составление технического задания (определение концепции предприятия)' )
                +six-step('5','Чертёж', 'Получение заявки на составление технического задания (определение концепции предприятия)' )
                +six-step('6','получение Пз', 'Получение заявки на составление технического задания (определение концепции предприятия)' )
            .body-six-step__btn.button(type="button" data-toggle="modal" data-target="#exampleModal") Заказать проект