include mixins
section.start-up-services
    .container
        .row
            .col-12
                .start-up-services__title.title-regular Услуги по запуску предприятий
            .col-12.col-md-6
                .start-up-services__img(style="background-image: url('img/sec6_img1.png');")
            .col-12.col-md-6
                .start-up-services__description
                    ul
                        li Написание инструкций для сотрудников
                        li Помощь при проверке Роспотребнадзора
                        li Комплексное оснащение предприятий торговли и общепита
                        li Составление меню и технологических карт блюд
                        li Разработка дизайна интерьера
                        li Услуги по оформлению ХАССП
                        li Маркетинговый консалтинг
                        li Технологическое проектирование объектов торговли и общепита