section.what-we-design
    .container
        .row
            .col-12
                .what-we-design__title.title-regular Что мы проектируем
            .col-12.col-md-4.wrapper-what-we-design-column
                .body-what-we-design-column
                    .what-we-design-column__title.sub-title-bold18 Предприятия общественного питания
                    .what-we-design-column__descriopt
                        ul
                          li   Кафе
                          li   Рестораны
                          li   Столовые
                          li   Пиццерии
                          li   Суши-бары
                          li   Пельменные
                          li   Бары

            .col-12.col-md-4.wrapper-what-we-design-column
                .body-what-we-design-column
                    .what-we-design-column__title.sub-title-bold18 Предприятия общественного питания
                    .what-we-design-column__descriopt
                        ul
                          li   Прилавочая торговля
                          li   Магазины самообслуживания
                          li   Непродовольственные магазины
                          li   Гипермаркеты
                          li   Магазины кулинарии
                          li   Магазины узкой специализации


            .col-12.col-md-4.wrapper-what-we-design-column
                .body-what-we-design-column
                    .what-we-design-column__title.sub-title-bold18 Производственные цехи
                    .what-we-design-column__descriopt
                        ul
                          li   Мясное производство
                          li   Кондитерское производство


            .col-12.col-md-6.col-lg-4.offset-md-3.offset-lg-4
                .body-what-we-design-column.body-what-we-design-column-custom
                    .what-we-design-column__title.what-we-design-column__title-custom.sub-title-bold18 Реконструкция уже существующих предприятий

