include mixins
section.who-we-work
    .container
        .row
            .body-who-we-work
                .col-12
                    .who-we-work__title.title-regular  Для кого мы работаем
                .wrapper-row-who-we-work
                    .col-12.col-md-6
                        .who-we-work-sec__column-img(style="background-image: url('img/sec2_img1.png');")
                    .col-12.col-md-5.offset-md-1
                        .who-we-work-sec__column-description
                            .who-we-work-sec__column-title.title НОВИЧКИ В ОБЩЕПИТЕ
                            .who-we-work-sec__column-text  Мы много раз решали такие задачи, помогая собственникам с момента возникновения идеи до запуска общепита. Мы не только спроектируем и оснастим кухню,но и поможем составить бизнес-план, подобрать помещение, рассчитать бюджеты, составить меню и инструкции для сотрудников.
                .wrapper-row-who-we-work.wrapper-row-who-we-work-revers
                    .col-12.col-md-5.block-text
                        .who-we-work-sec__column-description
                            .who-we-work-sec__column-title.title НБЫВАЛЫЕ РЕСТОРАТОРЫ
                            .who-we-work-sec__column-text  Вам нужен надежный партнер, способный взять на себя все проблемы с проектированием, согласованиями, подбором оборудования, поставкой, монтажом и дальнейшим обслуживанием технологического оборудования для кухни.Мы готовы стать таким партнером.За последние 10 лет мы реализовали более 200 проектов общепита.
                    .col-12.col-md-6.offset-md-1.block-img
                        .who-we-work-sec__column-img(style="background-image: url('img/sec2_img2.png');")