include mixins
section.why-choose-us
    .container
        .row
            .col-12
                .why-choose-us-title.title-regular Почему клиенты выбирают нас
                .body-why-choose-us__items
                    +why-choose-us__elem('Опыт проектирования более 20 лет и допуск CРО')
                    +why-choose-us__elem('База готовых решений и концепций')
                    +why-choose-us__elem('Услуги по оформлению ХАССП для предприятий')
                    +why-choose-us__elem('Работаем с новыми и частично оборудованными помещениями')
                    +why-choose-us__elem('Индивидуальная проработка эргономики кухонного пространства и раздельное проектирование рабочих и посадочных зон')
                    +why-choose-us__elem('Детальная спецификация оборудования(модель, бренд, технические характеристики)')
                    +why-choose-us__elem('Дизайн проектирование коммерческого пространства')
                    +why-choose-us__elem('Визуализация отдельных элементов пространства')
                    .col-12
                        .why-choose-us__btn.button(type="button" data-toggle="modal" data-target="#exampleModal") Заказать сейчас